.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--backdrop-bkg-color);
	z-index: 1000;

	transition: opacity var(--anim), visibility var(--anim);

	&--hidden {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
}
