/* Футер */
.footer {
	background-color: var(--footer-background-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	text-align: center;
	justify-content: center;

	@include mq(desk) {
		flex-direction: row;
		gap: 93px;
	}
}

.footer__container--left {
	display: flex;
	flex-direction: column;
	gap: 60px;

	@include mq(tab) {
		flex-direction: row;
		justify-content: space-around;
	}

	@include mq(desk) {
		gap: 70px;
	}
}

.footer__inform {
	@include mq(desk) {
		text-align: left;
	}
}

.footer__logo {
	display: block;
	color: var(--white);
	margin-bottom: 20px;

	@include mq(desk) {
		text-align: left;
	}
}

.footer__item:not(:last-child) {
	margin-bottom: 8px;

	@include mq(desk) {
		margin-bottom: 9px;
	}
}

.address-link {
	color: var(--white);
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.footer__contact-link {
	color: var(--footer-contact-text);
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 50px;

	transition: color var(--anim);

	&:hover,
	:focus {
		color: var(--accent-color);
	}
}

.footer-socials__title {
	color: var(--white);
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-socials {
	@include mq(desk) {
		margin-top: 12px;
		text-align: left;
	}
}

.footer-socials__list {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.footer-socials__link {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--footer-soc-icon-color);
	border-radius: 50%;

	transition: background-color var(--anim);

	&:hover,
	:focus {
		background-color: var(--accent-color);
	}
}

.footer-socials__icon {
	fill: var(--white);
}
