.mobile-socials__list {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	row-gap: 5px;
}

.mobile-socials__item {
	padding-right: 10px;
	flex-shrink: 1;
}

.mobile-socials__item:not(:first-child) {
	border-left: 1px solid rgba(33, 33, 33, 0.2);
	padding-left: 10px;
}

.mobile-socials__link {
	display: flex;
	font-weight: 500;
	font-size: 18px;
	line-height: calc(22 / 18);
	text-align: center;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--accent-color);

	cursor: pointer;
}
