.mobile {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 48px 40px;
	height: inherit;
	background-color: var(--white);
	width: inherit;

	transform: translateX(0);
	transition: transform var(--anim);

	.backdrop--hidden & {
		transform: translateX(100%);
	}
}

.mobile__button {
	position: absolute;
	top: 10px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 0;
	background-color: transparent;
	padding: 0;

	cursor: pointer;

	&:hover,
	:focus {
		color: var(--accent-color);
	}
}

.mobile__icon {
	width: 40px;
	height: 40px;
	fill: currentColor;
	transition: fill var(--anim);
}
