.mobile-menu__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	margin-bottom: auto;
}

.mobile-menu__link {
	display: flex;
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	text-align: center;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--primary-text-color);

	transition: color var(--anim);

	&:hover,
	:focus {
		color: var(--accent-color);
	}
}
