.mobile-contacts {
	margin-bottom: 64px;
}

.mobile-contacts__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}

.mobile-contacts__link {
	display: flex;
	font-weight: 500;
	font-size: 24px;
	line-height: calc(40 / 34);
	text-align: center;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--accent-color);

	@include mq(mob) {
		font-size: 34px;
	}
}

.mobile-contacts__item:last-child .mobile-contacts__link {
	font-size: 24px;
	line-height: calc(28 / 24);
	color: var(--secondary-text-color);
}
