.subscribe-form__paragraph {
	font-weight: 700;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	color: var(--white);
	margin-bottom: 20px;

	@include mq(desk) {
		margin-top: 12px;
		text-align: left;
	}
}

.subscribe-form__input {
	width: 100%;
	height: 50px;
	background-color: transparent;
	border: 1px solid var(--footer-input-email-border);
	border-radius: 4px;
	drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	outline: transparent;
	padding-left: 16px;
	padding-right: 16px;

	font-size: 16px;
	line-height: calc(20 / 16);
	letter-spacing: 0.03em;

	color: var(--footer-contact-text);

	&:focus {
		border-color: var(--accent-color);
	}

	&::placeholder {
		font-size: 16px;
		line-height: calc(20 / 16);
		letter-spacing: 0.03em;

		color: var(--footer-contact-text);
	}

	&:not(:placeholder-shown) {
		border-color: var(--accent-color);
	}

	@include mq(tab) {
		max-width: 450px;
	}

	@include mq(desk) {
		width: 358px;
	}
}

.subscribe-form__area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	@include mq(desk) {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 12px;
	}
}

.subscribe-form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 28px;
	background-color: var(--accent-color);
	border-width: 0;
	border-radius: 4px;
	cursor: pointer;
	color: var(--white);

	transition: color var(--anim), background-color var(--anim);

	&:hover,
	:focus {
		color: var(--primary-text-color);
		background-color: var(--secondary-button-background-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

.subscribe-button__txt {
	font-size: 16px;
	line-height: calc(30 / 16);

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: currentColor;
}

.subscribe-button__icon {
	fill: currentColor;
}
